div.container {
    width: 600px;
}
span {
    padding-left: 2px;
    padding-right: 2px;
}
li span:hover {
    border: 1px solid black;
    padding-left: 1px;
    padding-right: 1px;
}
.sel {
    background-color: #669;
    border: 1px solid black;
    padding: 7px;
}
.unsel {
    min-width: 100px;
    background-color: #CCC;
    padding: 8px;
}
.vis {
    display: inline;
}
div.vis {
    display: inline;
}
.invis {
    display: none;
}
li {
    padding: 12px;
}
.button {
    margin: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    min-width: 20pt;
    min-height: 20pt;
    font-size: 16pt;
    background-color: #999;
    border: 1px solid black;
    border-radius: 2pt;
}
.button:hover {
    transition: 0.7s;
    background-color: #669;
    box-shadow: 0px 0px 4px 8px rgba(123,123,255,0.4);
}

.indicator {
    display: block;
}
.indicators {
    position: fixed;
    width: 250px;
    right: 0px;
}
